/* For all */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

.primary-btn {
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg, #F00 0%, #FF8938 100%);
    color: white;
    font-size: 20px;
}

.primary-btn:hover {
    background: linear-gradient(270deg, rgb(39, 105, 11) 0%, #afff38 100%);
}


.container {
    max-width: 1240px;
    margin: 0 auto;
}

.primary-txt-clr {
    color: var(--Dark-03, #777);
    font-size: 16px;
    font-weight: 500;
}

.primary-title-clr {
    color: var(--Dark-01, #1C1C1C);
    font-size: 45px;
    font-weight: 800;
}

/* Header style */

.header-content {
    display: flex;
    padding: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}

.header-title {
    color: var(--Dark-01, #1C1C1C);
    font-size: 75px;
    font-weight: 800;
    padding-top: 68px;
    padding-bottom: 30px;
}

.banner-txt>p {
    font-size: 18px;
    padding-bottom: 30px;
    max-width: 500px;
}

.btn {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.banner-img {
    padding-top: 80px;
}

.btn img {
    width: 24px;
    height: 24px;
}

.banner-star {
    position: absolute;
    display: flex;
    top: 72%;
    left: 53%;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
}

.banner-star svg {
    padding: 20px;
}

.banner-star-content {
    padding-top: 15px;
}

.banner-star-content span {
    padding-bottom: 10px;
    color: var(--Dark-01, #1C1C1C);
    font-size: 30px;
    font-weight: 800;
}

.banner-star-content p {
    font-weight: 600;
    padding-right: 5px;
}

/* feature section */
.feature {
    /* background-color: aqua; */
    margin-top: 120px;
}

.feature-content * {
    text-align: center;
    padding: 20px auto;
}

.feature-content>p {
    max-width: 870px;
    margin-left: 150px;
    margin-right: 150px;
}

.feature-item-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    gap: 20px;
}

.feature-item {
    border-radius: 10px;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
}

.iteam-title {
    color: var(--Dark-01, #1C1C1C);
    font-size: 25px;
    font-weight: 800;
}

.feature-item img {
    padding-top: 50px;
    padding-bottom: 15px;
}

.feature-item>p {
    max-width: 308px;
    padding: 10px 45px;
}

/* fresh */
.fresh {
    /* background-color: aqua; */
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    /* max-height: 4400px; */
}

.fresh-div {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.fresh-div img {
    width: 146px;
    padding-top: 50px;
}

.div1 {
    width: 238px;
    height: 136px;
    border-radius: 10px;
    opacity: 0.1;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

.div2 {
    width: 238px;
    height: 355.279px;
    border-radius: 10px;
    text-align: center;
    background: rgba(230, 166, 35, 0.10);

}

.div3 {
    width: 238px;
    height: 355.279px;
    border-radius: 10px;
    background: rgba(87, 118, 57, 0.10);
    position: absolute;
    text-align: center;
    top: 152px;
}

.div4 {
    width: 238px;
    height: 136px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 370px;
    left: 268px;
}

.fresh-content {
    padding-left: 120px;
}

.fresh-content>h2 {
    max-width: 400px;
    padding-bottom: 20px;
}

.fresh-content>p {
    max-width: 580px;
    padding-bottom: 30px;
    line-height: 28px;
}

.fresh-content-description h3 {
    color: var(--Dark-01, #1C1C1C);
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
}

.fresh-content-description p {
    color: var(--Dark-03, #777);
    font-size: 16px;
    max-width: 450px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 30px;
}

/* super-clint */

.super-clint {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    gap: 20px;

}

.super-clint-content {
    background-image: url('../images/bg_cup.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-left: 70px;
    padding-top: 177px;
}

.super-clint-content>h2 {
    color: var(--Dark-07, #F4F4F4);
    font-size: 45px;
    max-width: 400px;
    font-weight: 800;
    padding-bottom: 20px;
}


.super-clint-content>p {
    color: var(--Dark-07, #F4F4F4);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 500px;
    padding-bottom: 30px;
}

.super-clint-content button {
    border-radius: 8px;
    background: #FFF;
    width: 139px;
    height: 56px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 177px;
}

.super-clint-content>button>span {
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.super-clint-comment {
    position: relative;
    padding-top: 70px;
    padding-bottom: 50px;
    /* align-items: center; */

}

.clint-cmnt {
    width: 433px;
    border-radius: 8px;
    text-align: left;
    padding: 50px;
    position: relative;
}

.clint-cmnt>img {
    position: absolute;
    left: -25px;
    top: -25px;
    border-radius: 50%;
    border: 3px solid white;
}

.circle {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.clint-cmnt-section h3 {
    color: var(--Dark-01, #1C1C1C);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 20px;
    /* padding-bottom: 10px; */
}

.clint-cmnt-section p {
    max-width: 340px;
}

.clint-cmnt-section span {
    color: #5D5A6F;
    font-size: 16px;
    font-weight: 500;
}

.clint-cmnt-div1 {
    position: absolute;
    top: 32%;
    right: 140px;
    left: -120px;
    z-index: 15;
    background-color: aliceblue;
}

.clint-cmnt-div2 {
    bottom: 30px;
    right: 60px;
    /* position: fixed; */
    background-color: aliceblue;
    opacity: 0.3;
}

.clint-cmnt-div3 {
    top: 30px;
    right: 60px;
    bottom: 0;
    background-color: aliceblue;
    opacity: 0.3;

}